<!-- Page Content -->
            <div class="container">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Customer</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Datetime</th>
                            <th>Order details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Lai Van Hau</td>
                            <td>90 Tran Phu, District 8</td>
                            <td>0659452645</td>
                            <td>8:15 07/11/2021</td>
                            <td>
                                <button class="btn btn-default btn-xs"><span class="bi bi-eye-fill"></span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Truong Van Hau</td>
                            <td>80 Tran Phu, District 8</td>
                            <td>0659572645</td>
                            <td>8:17 07/11/2021</td>
                            <td>
                                <button class="btn btn-default btn-xs"><span class="bi bi-eye-fill"></span></button>
                            </td>
                        </tr>
                                                                                     
                    </tbody>
                </table>
            </div>  
            <!-- End of page content -->