<!-- Page Content -->
            <div class="container">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Account ID</th>
                            <th>Full name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123</td>
                            <td>Lai Van Hau</td>
                            <td>065146541</td>
                            <td>17 Hai Ba Trung, District 1</td>
                            <td>
                                <button onclick="location.href = 'userAccounts/userAccountId';" class="btn btn-default btn-xs"><span class="bi bi-eye-fill"><a href="/userAccountList/1"></a></span></button>
                                <button class="btn btn-default btn-xs"><span class="bi bi-unlock-fill"></span></button>
                                <button class="btn btn-default btn-xs"><span class="bi bi-lock-fill"></span></button>
                             </td>
                        </tr>
                        <tr>
                            <td>124</td>
                            <td>Tran Van Thien</td>
                            <td>0698165475</td>
                            <td>70 Nguyen Van Cu, District 5</td>
                            <td>
                                <button onclick="location.href = 'userAccounts/userAccountId';" class="btn btn-default btn-xs"><span class="bi bi-eye-fill"><a href="/userAccountList/1"></a></span></button>
                                <button class="btn btn-default btn-xs"><span class="bi bi-unlock-fill"></span></button>
                                <button class="btn btn-default btn-xs"><span class="bi bi-lock-fill"></span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td>Le Huu Toan</td>
                            <td>0659862645</td>
                            <td>90 Tran Phu, District 7</td>
                            <td>
                                <button onclick="location.href = 'userAccounts/userAccountId';" class="btn btn-default btn-xs"><span class="bi bi-eye-fill"></span></button>
                                <button class="btn btn-default btn-xs"><span class="bi bi-unlock-fill"></span></button>
                                <button class="btn btn-default btn-xs"><span class="bi bi-lock-fill"></span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>126</td>
                            <td>Le Minh Khoi</td>
                            <td>0649889464</td>
                            <td>50 Tran Phu, District 7</td>
                            <td>
                                <button onclick="location.href = 'userAccounts/userAccountId';" class="btn btn-default btn-xs"><span class="bi bi-eye-fill"></span></button>
                                <button class="btn btn-default btn-xs"><span class="bi bi-unlock-fill"></span></button>
                                <button class="btn btn-default btn-xs"><span class="bi bi-lock-fill"></span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>Le Van Dat</td>
                            <td>066875974</td>
                            <td>60 Le Loi, District 8</td>
                            <td>
                                <button onclick="location.href = 'userAccounts/userAccountId';" class="btn btn-default btn-xs"><span class="bi bi-eye-fill"></span></button>
                                <button class="btn btn-default btn-xs"><span class="bi bi-unlock-fill"></span></button>
                                <button class="btn btn-default btn-xs"><span class="bi bi-lock-fill"></span></button>
                            </td>
                        </tr>                                                               
                    </tbody>
                </table>
                
            </div>  
            <!-- End of page content -->